html, body {
	text-align: center;
	margin: 0;
	padding: 0;     
}

body{
	background-color: #ffffee;
	color: black;
	font-family: Verdana, sans-serif;
}

/* éléments de la page */
#container {
	position: relative;
	width: 800px;
	height: 100%;
	margin: 0 auto;
	text-align: left;		
	background-color: #ffffee;
	border: 1px solid #ffffee;
}

#header {
	width: 69.1%;
	float: left;
	margin-bottom: 5%;
}

#logo {
	text-align: center;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

#logo img {
	border: 0;
}

#about {
	text-align: center;
	width: 80%;
	font-size: 120%;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	color: #843f00;
}

#nav{
	width: 30.5%;
	float: left;
	margin-top: 5px;
	margin-right: 1px;
	background-color: #7F7F7F;/*#b8cae8;*/
	border: 1px solid #7F7F7F;*/
}

#nav h2{
	text-align: center;
	margin-top: 0;
	margin-bottom: 1%;
	padding-bottom: 2%;
	width: 100%;
	background-color: navy;
	color: white;
	font-size: 110%;
}

#nav h2 a:link {
	text-decoration: none;
	color: white;
}

#nav ul{
	margin: 0;
	padding: 0;
	padding-left: 5%;
	margin-left: 5%;
	margin-bottom: 2%;
}

#nav li {
	list-style-type: none;
	font-size: 95%;
}

#nav li a {
	display: block;
	width: 100% 
}

#nav li a:link, #nav li a, #nav li a:visited {
	text-decoration: none;
	color: white;/*#00016f;*/
}

#nav li a:hover {
	background-color: navy;	
}


#body {
	clear: both;
	margin-top: 2%;
	margin-bottom: 5%;
}

#body p, #body ul {
	font-size: 90%;
}

#body li {
	margin-left: 10%;
}

#footer {
	text-align: center;
	margin-top: 5%;
	padding-bottom: 5%;
	border: 1px solid #ffffee;
}

#footer p {
	text-align: center;
	font-size: 100%;
	font-weight: bold;
}



/* balises html */

h1{
	font-weight: bold;
	text-align: center;
	font-size: 180%;
	margin-top: 4%;
	margin-bottom: 2%;
	color: #cc6100;
}

h2 {
	font-weight: bold;
	text-align: center;
	color: #cc6100;
	font-size: 150%;
	margin-top: 4%;
	margin-bottom: 2%;
}

h3 {
	font-weight: bold;
	color: #cc6100;
	margin-top: 4%;
	margin-bottom: 2%;
}

p, ul, h3 {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1%;
	margin-bottom: 2%;
}

ul {
	list-style-type: none;
}

#00000000, #00000001, #00000002, #00000003 {
	border: 0;
}

#searchtool {
	margin-left: 5px !important;
}

#searchtool {
	margin-left: 180px;
}

#searchtool_text {
	border: 1px solid #7f7f7f;
	background: white;
	border-radius: 5px;
	color: #cc6100;
	text-decoration: none;
	vertical-align: middle;
	font-size: 15px;
}

#searchtool_text::placeholder {
	font-family: Cantarell, "Liberation Sans", Verdana, sans-serif;
	Color: #cc6100;
}

#searchtool_cat {
	position: relative;
	z-index: 10;
	float: left;
	margin-top: 1px;
}
#searchtool_cat:hover, #searchtool_cat:focus {
	height: 20ch;
}

#searchtool_go {
	border: none;
	background: #cc6100;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	vertical-align: middle;
	font-size: 15px;
}
#searchtool_go:hover {
	background-color: white;
	color: #cc6100;
}
